In [30]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.read_csv('prosperLoanData.csv')

In [3]:
date = ['ListingCreationDate','ClosedDate','DateCreditPulled','FirstRecordedCreditLine','LoanOriginationDate']
for col in date :
    data[col] = data[col].fillna(0) 
data[date] = data[date].astype('datetime64[ns]')

In [4]:
##list of a columns with have null values
null = []
for col in data.columns :
    if (data[col].isnull().sum() > 0) :
        null.append(col)
        
for col in null:
    if(data[col].dtype in ['float64','int64']) :
        data[col] = data[col].fillna(0)

In [5]:
data.drop('ListingKey',axis=1,inplace=True)
data.drop('MemberKey',axis=1,inplace=True)
data.drop('LoanOriginationQuarter',axis=1,inplace=True)
data.drop('LoanKey',axis=1,inplace=True)
data.drop('GroupKey',axis=1,inplace=True)
data.drop('LoanNumber',axis=1,inplace=True)

In [28]:
obj = data.select_dtypes('object')

### filling the objects columns with mode values

In [7]:
for i in data.columns :
    if data[i].dtype == 'object' :
        data[i].fillna(data[i].mode().values[0],inplace=True)
        print(data[i].isnull().sum())

0
0
0
0
0
0
0

In [23]:
# encoder = OneHotEncoder()
# name = []
# for j in data.columns :
#     if data[j].dtype == 'object' :
#         x = encoder.fit_transform(data[i].values.reshape(-1,1)).toarray()
#         encoder_df = pd.DataFrame(x,columns=encoder.)
#         data.drop(j,axis=1,inplace=True)

In [22]:
# encoder_df.columns = encoder.get_feature_names_out(list(obj))

In [24]:
# encoder_df

In [25]:
# new = data.join(encoder_df)
# new

In [21]:
# k = list(obj.columns)
# data_dummies = [pd.get_dummies(data[df]) for df in k]
# for i in data_dummies :
#     df = pd.DataFrame(i)
#     print(df)
#     new = pd.concat([data,df],axis=1)
# new

### OneHotEncoding the Object data

In [37]:
dummies = pd.get_dummies(data[['CreditGrade', 'LoanStatus', 'ProsperRating (Alpha)'
                               , 'EmploymentStatus', 'IncomeRange']], drop_first=True)
data_encoded = pd.concat([data.drop(['CreditGrade','CreditGrade'],axis=1), dummies],axis=1)
data_encoded

,ListingNumber,ListingCreationDate,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,EstimatedEffectiveYield,EstimatedLoss,...,EmploymentStatus_Part-time,EmploymentStatus_Retired,EmploymentStatus_Self-employed,"IncomeRange_$1-24,999","IncomeRange_$100,000+","IncomeRange_$25,000-49,999","IncomeRange_$50,000-74,999","IncomeRange_$75,000-99,999",IncomeRange_Not displayed,IncomeRange_Not employed
0,193129,2007-08-26 19:09:29.263,36,Completed,2009-08-14,0.16516,0.1580,0.1380,0.00000,0.0000,...,0,0,1,0,0,1,0,0,0,0
1,1209647,2014-02-27 08:28:07.900,36,Current,1970-01-01,0.12016,0.0920,0.0820,0.07960,0.0249,...,0,0,0,0,0,0,1,0,0,0
2,81716,2007-01-05 15:00:47.090,36,Completed,2009-12-17,0.28269,0.2750,0.2400,0.00000,0.0000,...,0,0,0,0,0,0,0,0,1,0
3,658116,2012-10-22 11:02:35.010,36,Current,1970-01-01,0.12528,0.0974,0.0874,0.08490,0.0249,...,0,0,0,0,0,1,0,0,0,0
4,909464,2013-09-14 18:38:39.097,36,Current,1970-01-01,0.24614,0.2085,0.1985,0.18316,0.0925,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113932,753087,2013-04-14 05:55:02.663,36,Current,1970-01-01,0.22354,0.1864,0.1764,0.16490,0.0699,...,0,0,0,0,0,0,1,0,0,0
113933,537216,2011-11-03 20:42:55.333,36,FinalPaymentInProgress,1970-01-01,0.13220,0.1110,0.1010,0.10070,0.0200,...,0,0,0,0,0,0,0,1,0,0
113934,1069178,2013-12-13 05:49:12.703,60,Current,1970-01-01,0.23984,0.2150,0.2050,0.18828,0.1025,...,0,0,0,0,0,1,0,0,0,0
113935,539056,2011-11-14 13:18:26.597,60,Completed,2013-08-13,0.28408,0.2605,0.2505,0.24450,0.0850,...,0,0,0,0,0,1,0,0,0,0
113936,1140093,2014-01-15 09:27:37.657,36,Current,1970-01-01,0.13189,0.1039,0.0939,0.09071,0.0299,...,0,0,0,0,0,0,1,0,0,0

### Label Encoding some columns

Since "BorrwerState" & "Occupation" has too much unique values we will label encode them

In [29]:
obj.nunique()

CreditGrade               8
LoanStatus               12
ProsperRating (Alpha)     7
BorrowerState            51
Occupation               67
EmploymentStatus          8
IncomeRange               8
dtype: int64

In [33]:
le = LabelEncoder()
# le.fit_transform(data[['BorrowerState','Occupation']])
data[['BorrowerState','Occupation']] = data[['BorrowerState','Occupation']].apply(le.fit_transform)

#### Adding the Target Value

In [ ]:
# status = []
# good = ['Current','Cancelled','Completed','FinalPaymentInProgress']
# for i in data['LoanStatus'] :
#     if i in good :
#         status.append('Good') # or 1
#     else :
#         status.append('Bad') # or 0

# data['Status'] = status